@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-main: #f5f3ff;
  --color-text-main: #39006b;
  --color-text-secondary: #5e3a8c;
  --color-border: #e0c2ff;
  --color-card-bg: #ffffff;

  --color-skeleton-light: #e5e7eb;
  --color-skeleton-dark: #d1d5db;

  --color-accent: #8a2be2;
  --color-accent-hover: #7326c5;
  --color-accent-active: #611ea8;
  --color-accent-secondary: #5ad4f0;
}

@layer base {
  .dark {
    --color-bg-main: #270d3d;
    --color-text-main: #e0e0ff;
    --color-text-secondary: #a78bfa;
    --color-border: #3f3c5c;
    --color-card-bg: #1a1333;

    --color-skeleton-light: #4b5563;
    --color-skeleton-dark: #374151;

    --color-accent: #9635f0;
    --color-accent-hover: #7326c5;
    --color-accent-active: #611ea8;
    --color-accent-secondary: #00eaff;
  }
}
